:root{
  * {
    font-size: 24px;
  }
}

.normal {
  font-family: 'Helvetica Neue', helvetica, 'Arial',
  'Hiragino Kaku Gothic ProN', 'Hiragino Sans', “noto sans jp”, meiryo,
  sans-serif;
  font-weight: normal;
}
.weight-400 {
  font-family: 'Helvetica Neue', helvetica, 'Arial',
  'Hiragino Kaku Gothic ProN', 'Hiragino Sans', “noto sans jp”, meiryo,
  sans-serif;
  font-weight: 400;
}
.weight-500 {
  font-family: 'Helvetica Neue', helvetica, 'Arial',
  'Hiragino Kaku Gothic ProN', 'Hiragino Sans', “noto sans jp”, meiryo,
  sans-serif;
  font-weight: 500;
}
.weight-600 {
  font-family: 'Helvetica Neue', helvetica, 'Arial',
  'Hiragino Kaku Gothic ProN', 'Hiragino Sans', “noto sans jp”, meiryo,
  sans-serif;
  font-weight: 600;
}
.weight-700 {
  font-family: 'Helvetica Neue', helvetica, 'Arial',
  'Hiragino Kaku Gothic ProN', 'Hiragino Sans', “noto sans jp”, meiryo,
  sans-serif;
  font-weight: 700;
}
.weight-800 {
  font-family: 'Helvetica Neue', helvetica, 'Arial',
  'Hiragino Kaku Gothic ProN', 'Hiragino Sans', “noto sans jp”, meiryo,
  sans-serif;
  font-weight: 800;
}
.bold {
  font-family: 'Helvetica Neue', helvetica, 'Arial',
  'Hiragino Kaku Gothic ProN', 'Hiragino Sans', “noto sans jp”, meiryo,
  sans-serif;
  font-weight: bold;
}
