@font-face {
  font-family: "Noto Sans JP";
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src:
    url('./font/NotoSans_Regular.woff2') format('woff2'),
    url('./font/NotoSans_regular.woff') format('woff'),
}

@font-face {
  font-family: "Noto Sans JP";
  font-display: swap;
  font-style: normal;
  font-weight: bold;
  src: url("./font/NotoSans_Bold.woff2") format("woff2"),
    url("./font/NotoSans_bold.woff") format("woff"),
}

body * {
  font-family: "Noto Sans JP", sans-serif !important;
}
